{{ define "main" }}

<section>
  
  <div class="content">  
    <div class="full-column backTolist">
      <div>Publicaciones escritas en
          <div><strong>{{ .Data.Term }}</strong></div>
      </div>
      <a href="{{ .Site.BaseURL }}blog" class="btn-secondary"> ver todas</a>
    </div>
    {{ range .Data.Pages }}
      {{ .Render "summary" }}
    {{ end }}  
  </div>
</section>

<section class="other-posts">
  <div class="content">
    <h2>Otros artículos</h2>
    <div>
      <div class="posts-date">
        <h3>Por fechas</h3>
	<ul>
	  <li>{{ .Data.Term }}</li>
        </ul>
      </div>
      <div class="posts-tags">
        <h3>Otros temas de este mes</h3>
	{{ range $key, $value := .Site.Taxonomies.tags }}
	  {{ range $value }}
  	    {{ if in .Page.Params.Months $.Data.Term }}
	      {{ $.Scratch.Add "monthTags" (slice $key) }}
	    {{ end }}
	  {{end}}
	{{ end }}
        <ul>
	{{ range first 10 (uniq ($.Scratch.Get "monthTags")) }}	  
	  <li><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a></li>
        {{ end }}
        </ul>
      </div>
      <div class="posts-author">
        <h3>Authores de este mes</h3>
	{{ range $key, $value := .Site.Taxonomies.authors }}
	  {{ range $value }}
  	    {{ if in .Page.Params.Months $.Data.Term }}
	      {{ $.Scratch.Add "monthAuthors" (slice $key) }}
	    {{ end }}
	  {{end}}
	{{ end }}	
        <ul>
	{{ range first 10 (uniq ($.Scratch.Get "monthAuthors")) }}
	  <li><a href="{{ $.Site.BaseURL }}authors/{{ . | urlize }}"><img src="{{ $.Site.BaseURL }}img/personas/{{ . | urlize }}.jpg">{{ . | humanize | title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}
