<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "gtm-noscript.html" . }}
    
<div id="fbody" class="{{ if .IsHome }}Home{{ else }}Page{{ end }}">

  <!-- ==== container ==== -->
  <div class="container">
    {{ partial "header.html" . }}
    <main {{ if .Params.isContacto }}class="contacto-page"{{end}}>
      {{ block "main" . }}{{ end }}
    </main>
    <a href="#fbody" class="top" title="subir" ><span>Top</span></a>
  </div>
  <!-- ==== End container ==== -->

  <footer class="footer negative">
    {{ partial "footer.html" . }}
  </footer>

  {{ if .IsHome }}
    <div class="video-vimeo" id="video-modal">
        <div class="video-container">
            <!-- El iframe de Vimeo se crea aquí dinámicamente -->
            <button id="close-video">&times;</button>
        </div>
    </div>
  {{ end }}
</body>
</html>
