<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZCRJGMK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
<div id="fbody" class="{{ if .IsHome }}Home{{ else }}Page{{ end }}">

  <!-- ==== container ==== -->
  <div class="container">
    {{ partial "header.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </div>
  <!-- ==== End container ==== -->

  <footer class="footer negative">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
