// -----------------------------------------------------------------------
// MAIN FOOTER STYLE
// -----------------------------------------------------------------------

.footer {
	text-align: center;
	color: $_colorBlanco;
	background: $_colorCorporativo1-dark;
	.content {	
		nav {
			li {
				margin-left: $_margin;
				display: inline-block;
				a{color: $_colorBlanco;}
			}
		}
	}

	@include respond-to-device(xsm, false) { 
		text-align: left; 
		.content nav { float: right; }
	}
	.project{
		color: $_colorText;
		padding: $_padding;
		background-color: #FFDB00;
		display: grid;
		@include respond-to-device(slg, false) { 
			grid-template-columns: 1fr auto;
		}
		align-items: center;
		gap: $_padding;
		font-size: clamp(14px, 0.8em, 1em);;
		p{
			margin: 0;
		}
		img{
			width: 100%;
			@include respond-to-device(xsm, false) { 
				max-width: 350px;
			}
			height: auto;
		}
	}
}
