<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="DynaClassroom transforma objetos del mundo real en herramientas interactivas de aprendizaje">
<meta name="keywords" content="Educación, Aprendizaje, Tecnología, Realidad Mixta, Interfaces Tangibles, Aprendizaje Colaborativo">
<meta name="news_keywords" content="Educación, Aprendizaje, Tecnología, Realidad Mixta, Interfaces Tangibles, Aprendizaje Colaborativo">

<link rel="icon" type="image/png" sizes="64x64" href="{{ .Site.BaseURL }}/img/dyna-icon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}img/dyna-icon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}img/dyna-icon-16.png">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon-32.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-touch-icon.png">
<meta property="og:image" content="{{ .Site.BaseURL }}img/dyna-logo-info.png">

<meta name="twitter:site" content="@">
<meta name="twitter:title" content="DynaClassroom">
<meta name="twitter:description" content="DynaClassroom transforma objetos del mundo real en herramientas interactivas de aprendizaje">

<meta property="og:title" content="DynaClassroom">
<meta property="og:description" content="DynaClassroom transforma objetos del mundo real en herramientas interactivas de aprendizaje">
<meta property="og:url" content="https://dynaclassroom.com">

<title>{{ printf "%s | %s" site.Title .Title }}</title>

{{ partialCached "head/css.html" . }}
{{ if .IsHome }}
  {{ partialCached "head/js.html" . }}
{{ end }}
{{ partialCached "head/gtm.html" . }}
