    <!-- ==== header ==== -->
    <header class="header">
        <div class="content">
    	    <h1 class="logo"><a href="{{ .Site.BaseURL }}"><picture><source srcset="{{ .Site.BaseURL }}img/dyna-logo-small.svg" media="(max-width: 960px)"><img src="{{ .Site.BaseURL }}img/dyna-logo.svg" alt="Logo DynaClassroom"></picture></a></h1>
             <button class="menu">
                <span>Menú</span>
                <div class="hamburger">
                    <span class="child1"></span>
                    <span class="child2"></span>
                    <span class="child3"></span>
                    <span class="child4"></span>
                </div>
            </button> 
             <div class="navigations">
	         {{ partial "menu.html" (dict "menuID" "main" "page" . "class" "main-menu") }}
            </div>
        </div>
	</header>        
    <!-- ==== End header ==== -->
